<!doctype html>
<html lang="en">
  <head>
    <title>Dragon</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Dragon CSS -->
    <link rel="stylesheet" href="../styles/app.css">

    <style type="text/css">
      /* This accomodates the fixed toolbars. */
      body {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
      }
      </style>
  </head>
  <body data-spy="scroll" data-target="#comp-bottom-pages" data-offset="73">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="view-top">
      <a class="navbar-brand" href="#">Dragon</a>
      <span class="navbar-brand mb-0 h1" id="comp-top-workflow-name"></span>

      <div class="collapse navbar-collapse navbar-right" id="navbarCollapse">
	<ul class="navbar-nav mr-auto" id="comp-bottom-pages">
	</ul>
	<ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-secondary" role="button" id="comp-top-newform" href="#">New Form</a>&nbsp;
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary" role="button" onClick="window.close();" href="#">Exit</a>
          </li>
	</ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
   </nav>

   <main role="main" class="container">
     <div id="view-start-intro">
       <div class="jumbotron">
         <div class="container">
           <h1 class="display-4">Welcome!</h1>
           <p id="comp-start-intro-firsttime">Open a workflow to begin.</p>
           <p id="comp-start-intro-not-firsttime">Last time you were here you were using the <strong id="comp-start-intro-last-workflow-name"></strong> workflow.<br />
             Click <strong>Continue &raquo</strong> to keep using it, or click <strong>Open</strong>.
           </p>
           <p>
             <a class="btn btn-primary btn-lg" id="comp-start-intro-continue" href="#" role="button">Continue &raquo;</a>
             <button class="btn btn-secondary btn-lg" id="comp-start-intro-open">Open</button>
           </p>

           <input type="file" id="comp-start-intro-file" accept=".xml" style="display: none;">
         </div>
       </div>
     </div>

     <div id="view-start-tasks" style="display: none;">
       <div class="jumbotron">
         <div class="container">
           <h1 class="display-3" id="comp-start-tasks-workflow-name"></h1>
           <p id="comp-start-tasks-last-task">You previously were doing <strong id="comp-start-tasks-last-task-name"></strong>.</p>
           <p>Choose a task to start.</p>
           <p id="comp-start-tasks-task-list"></p>
           <p id="comp-start-tasks-task-collect">
             <button type="button" class="btn bnt-lg btn-secondary" id="comp-start-tasks-task-collect-button">Collect</button>
           </p>
         </div>
       </div>
     </div>

     <!-- Placeholder for the form display. -->
     <div id="view-task" style="display: none;"></div>

     <div id="view-collect" style="display: none;">
       <div class="jumbotron">
         <div class="container">
	   <h1 class="display-3">Collect Data</h1>
	   <p>Export all data.</p>
	   <!-- <p id="comp-collect-notice"><strong>There are forms in-progress that will not be collected.</strong></p> -->
           
           <!-- <p id="comp-collect-intro-firsttime">Data has not been collected for this workflow yet.</p> -->
           <!-- <p id="comp-collect-intro-not-firsttime">Data has been exported through <strong id="comp-collect-intro-last-collection-date"></strong>.</p> -->
           <!-- <p>What would you like to collect?</p> -->

           <!-- <input type="file" id="comp-start-intro-file" accept=".xml" style="display: none;"> -->

	   <!-- <div class="form-check"> -->
	   <!--   <label class="form-check-label"> -->
	   <!--     <input class="form-check-input" type="radio" name="comp-collect-choice" id="comp-collect-through"> -->
	   <!--     All completed forms since last collection through  -->
	   <!--     <input type="date" name="comp-collect-through-date" id="comp-collect-through-date"> -->
	   <!--   </label> -->
	   <!-- </div> -->

	   <!-- <div class="form-check"> -->
	   <!--   <label class="form-check-label"> -->
	   <!--     <input class="form-check-input" type="radio" name="comp-collect-choice" id="comp-collect-range"> -->
	   <!--     Forms complete between -->
	   <!--     <input type="date" name="comp-collect-range-start-date" id="comp-collect-range-start-date"> -->
	   <!--     and -->
	   <!--     <input type="date" name="comp-collect-range-end-date" id="comp-collect-range-end-date">. -->
	   <!--   </label> -->
	   <!-- </div> -->

	   <!-- <div class="form-check"> -->
	   <!--   <label class="form-check-label"> -->
	   <!--     <input class="form-check-input" type="radio" name="comp-collect-choice" id="comp-collect-everything"> -->
	   <!--     Every completed form since the beginning of time. -->
	   <!--   </label> -->
	   <!-- </div> -->

	   <!-- <\!-- Temporary. -\-> -->
	   <!-- <br /> -->
	   <!-- <\!-- End Temporary. -\-> -->

	   <input type="file" id="comp-collect-save" nwsaveas accept=".csv" style="display: none">
	   <button class="btn btn-primary btn-lg" id="comp-collect-button">Collect</button>
         </div>
       </div>
     </div>
   </main>

   <nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark" id="view-bottom" style="display: none;">
     <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item dropup">
           <a class="nav-link dropdown-toggle" id="comp-bottom-waiting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Waiting <span class="badge badge-danger"></span></a>
           <div class="dropdown-menu" id="comp-bottom-waiting-menu">
           </div>
         </li>
         <li class="nav-item dropup">
           <a class="nav-link dropdown-toggle" id="comp-bottom-saved" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">In-Progress <span class="badge badge-warning"></span></a>
           <div class="dropdown-menu" id="comp-bottom-saved-menu">
           </div>
         </li>
         <li class="nav-item dropup">
           <a class="nav-link dropdown-toggle" id="comp-bottom-completed" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Completed <span class="badge badge-success"></span></a>
           <div class="dropdown-menu" id="comp-bottom-completed-menu">
           </div>
         </li>
       </ul>
       <button class="btn btn-secondary" type="button" id="comp-bottom-save">Save For Later</button>&nbsp;
       <button class="btn btn-primary" type="button" id="comp-bottom-submit">Finalize</button>
     </div>
   </nav>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
   <script src="/node_modules/flux/dist/Flux.js"></script>
   <script src="/vendor/jquery-flexdatalist/jquery.flexdatalist.js"></script>

   <!-- Project JavaScript -->
   <script src="/src/app/app.js"></script>
   <script src="/src/app/build.js"></script>
   <script src="/src/app/mapArrayToObject.js"></script>
  </body>
</html>
