<!doctype html>
<html lang="en">
  <head>
    <title>Dragon</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Dragon CSS -->
    <link rel="stylesheet" href="../styles/app.css">

    <style type="text/css">
      /* This accomodates the fixed toolbars. */
      body {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
      }
      </style>
  </head>
  <body data-spy="scroll" data-target="#comp-bottom-pages" data-offset="73">

   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="view-top">
     <a class="navbar-brand" href="#">Dragon</a>
     <span class="navbar-brand mb-0 h1" id="comp-top-workflow-name"></span>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="nav navbar-nav mr-auto"></ul>
       <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
       <button class="btn btn-secondary" type="button" onClick="window.close();">Exit</button>
     </div>
   </nav>

   <main role="main" class="container">
     <div id="view-start-intro">
       <div class="jumbotron">
         <div class="container">
           <h1 class="display-3">Welcome!</h1>
           <p id="comp-start-intro-firsttime">Open a workflow to begin.</p>
           <p id="comp-start-intro-not-firsttime">Last time you were here you were using the <strong id="comp-start-intro-last-workflow-name"></strong> workflow.<br />
	     Click <strong>Continue &raquo</strong> to keep using it, or click <strong>Open</strong>.
	   </p>
           <p>
	     <a class="btn btn-primary btn-lg" id="comp-start-intro-continue" href="#" role="button">Continue &raquo;</a>
             <button class="btn btn-secondary btn-lg" id="comp-start-intro-open">Open</button>
	   </p>

           <input type="file" id="comp-start-intro-file" accept=".xml" style="display: none;">
         </div>
       </div>
     </div>

     <div id="view-start-tasks" style="display: none;">
       <div class="jumbotron">
         <div class="container">
           <h2 class="display-3" id="comp-start-tasks-workflow-name"></h2>
           <p id="comp-start-tasks-last-task">You previously were doing <strong id="comp-start-tasks-last-task-name"></strong>.</p>
	   <p>Choose a task to start.</p>
	   <p id="comp-start-tasks-task-list"></p>
         </div>
       </div>
     </div>

     <div id="view-task" style="display: none;"></div>

     <div id="view-collect" style="display: none;">

     </div>
   </main>

   <nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark" id="view-bottom" style="display: none;">
     <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item dropup">
           <a class="nav-link dropdown-toggle" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Waiting <span class="badge badge-danger">2</span></a>
           <div class="dropdown-menu">
           </div>
         </li>
         <li class="nav-item dropup">
           <a class="nav-link dropdown-toggle" id="dropdown20" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Completed <span class="badge badge-success">3</span></a>
           <div class="dropdown-menu">
           </div>
         </li>
	 <li class="nav-item">
	   <ul class="nav" id="comp-bottom-pages">

	   </ul>
	 </li>
       </ul>
       <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
       <button class="btn btn-success" type="button" id="component-submit">Submit</button>

     </div>
   </nav>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

   <!-- Project JavaScript -->
   <script src="/src/app/app.js"></script>
  </body>
</html>

<!--    <script src="/src/app/formGeneration.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>-->
<!--    <script>
        $(window).load(function () {
        var phones = [{"mask": "(###) ###-####"}, {"mask": "(###) ###-##############"}];
        $('#phone').inputmask({
        mask: phones,
        greedy: false,
        definitions: {'#': {validator: "[0-9]", cardinality: 1}}
        });
        $('#cell').inputmask({
        mask: phones,
        greedy: false,
        definitions: {'#': {validator: "[0-9]", cardinality: 1}}
        });
        });

        function changeText(){
        var userInputname = document.getElementById('name').value;
        var userInputcolor = Array.prototype.slice.call(document.querySelectorAll(".color:checked")).map(function(el) {
        return el.value;
        }).join(', ')

        document.getElementById('output1').innerHTML = userInputname;
        document.getElementById('output2').innerHTML = userInputcolor;
        return false;
        }
        </script>-->

