<!doctype html>
<html lang="en">
<head>
    <title>Health Systems Form Builder | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../styles/app.css">
    <script language="JavaScript" type="text/javascript" src="/src/app/jquery-3.2.1.min.js"></script>
    <script src="/src/app/app.js"></script>
    <script src="/src/app/formGeneration.js"></script>
    <script src="/prototypes/jerrid-demo/main.js"></script>
	<!-- .... -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
    <script language="javascript" type="text/javascript">
		var filename = "test.xml";

		function WriteXmlFile(e) {
            try {
                var Frm = Settings.SrcElement(e);
                var XML = new XMLWriter();
                XML.BeginNode(Frm.name);
                XML.Attrib("Description", "Patient info.");
                var Nodes = Frm.elements;
                for (var i = 0; i < Nodes.length; i++) {
					//console.log(Nodes[i]);
					if(Nodes[i].type == "radio" || Nodes[i].type == "checkbox"){
						var isChecked = Nodes[i].checked ? "true" : "false";
						XML.BeginNode(Nodes[i].name);
						XML.Attrib("checked", isChecked);
						XML.WriteString(Nodes[i].value);
						XML.EndNode();
					} else {
						XML.Node(Nodes[i].name, Nodes[i].value);
					}
				}
                XML.EndNode();
                XML.Close();

				var text = XML.ToString().replace(/</g,"\n<");
				var pom = document.createElement('a');
				pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
				pom.setAttribute('download', filename);
				pom.style.display = 'none';
				document.body.appendChild(pom);

				pom.click();

				document.body.removeChild(pom);

            } catch(Err) {
                alert("Error: " + Err.description);
            }
            return false;
        }


		//openFile will read XML file and input it into text field
		var openFile = function(event) {
			var input = event.target;
			var text = "";
			var reader = new FileReader();
			var onload = function(event) {
				text = reader.result;
				parseFile(text);

			};

			reader.onload = onload;
			reader.readAsText(input.files[0]);
		};

		//this will parse XML file and output it to website
		var parseFile = function(text) {
			var xmlDoc = $.parseXML(text),
				$xml = $(xmlDoc),
				$options = $xml.find("option");

			/*$.each($options, function() {
				$("#output").append("<li>" + $(this).text() + "</li >");
			});*/

			//console.log($xml.find("*").eq(0)[0].nodeName);
			//console.log($xml.find(":root")[0]);
			//console.log($xml.find("*").eq(0));
			$nodes = $xml.find("*").eq(0)[0].children; //$xml.find(":root")[0].children;
			$.each($nodes, function() {
				$("#output").append("<li>" + $(this).prop("tagName") + " - " + $(this).text() + "</li >");
			});
		};
	<!-- ..... -->

	</script>
</head>
<body>
<div class="containerheader">
    <h1>Health Systems Form Builder</h1>
    <h2>Prototype v 1.0</h2>
</div>
<div class="row">
    <div class="column">
        <h2>Choose a workflow</h2>
        <input type="file" accept=".xml" id="fileInput">
        <div id = "form">
            <input type="button" value="Load step"  onclick="createForm(fileInput.value, 'form')">
        </div>
    </div>
    <div class="column">
        <h2>Choose a step</h2>
        <select name="steps">
            <option value="step_1" selected>Interventional Radiology</option>
            <option value="step_2">Step 2</option>
            <option value="step_3">Step 3</option>
            <option value="Collect">Collect Data</option>
        </select>
        <input type="button" value="Load step" onclick="emptyDoc()">
    </div>
    <div class="column">
        <h2>Load new document</h2>
        <input type="button" value="New" onclick="newDoc()">
    </div>
    <div id = "test">
        <input type="button" value="TestButton" onclick="createForm(document.getElementById('fileInput').value, 'test')">
    </div>
</div>
<div class="row">
	<div class="column">
		<form id="search_records" onsubmit="javascript:showResults()">
			<h2>Search existing records</h2>
			<input type="search" id="search_box">
		</form>

		<div id="display_results">
			<h3>Search Results</h3>
			<ul id="results_list" type="list-style-type:none"> </ul>
		</div>
	</div>
	<div class="column"> &nbsp;	</div>
	<div class="column">

	<form>
		<h3 id="choose file" class="chfile" align-text:right;> Select a xml file to view the patient info on plain text:</h3>
			<input type='file' accept='text/xml' onchange='openFile(event)'><br /><br>
			<!-- <input type="submit" value="View Patient Info"> -->
			<ul id="output"></ul>
	</form>
	</div>
</div>
<script>
    /* Prevent default submit form action from happening on "enter" action" */
    document.querySelector('#search_records').addEventListener("submit", function (e) {
        e.preventDefault();
    });
</script>
</body>
</html>